<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("head") %>

</head>
<body>
    <nav class="navbar">
        <a href="/about">About</a>
        <a href="/messageboard">Messages</a>
    </nav>
</body>
</html>